<div class="row">
    <div class="col-md-12">
        <h3>Add Post</h3>
        <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <div class="my-3">
                <label>Tittle</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="my-3">
                <label>Category</label>
                <select class="form-select" formControlName="category">
                    <option *ngFor="let category of categories" value="{{category.title}}">{{category.title}}</option>
                </select>
            </div>
            <div class="my-3">
                <label>Body</label>
                <input type="text" class="form-control" formControlName="body">
            </div>
            
            <div class="my-3">
                <button class="btn btn-primary btn-sm">Add Post</button>
            </div>
        </form>
    </div>
</div>
